{% extends 'base.html.twig' %}

{% block body %}
    <h1>Changer mon mot de passe</h1>
    {{ form_start(form) }}
        {{ form_row(form.current_password) }}
        {{ form_row(form.new_password) }}
        <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}