{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content_title %}
    <h1>Tableau de bord</h1>
{% endblock %}

{% block content %}
    <p>Bienvenue sur le tableau de bord de l'administration de La_Besnerie.</p>
    
{% endblock %}