header img {
    width: -webkit-fill-available;
    height: 500px;
}

body {
    background-color: #FF7700;
    font-family: Arial, sans-serif;
}

body ul {
    display: flex;
    justify-content: space-evenly;
}

body ul li {
    
    list-style-type:none;
}

body ul li a {
    color: #000000;
    text-decoration: none;
    font-size: x-large;
}

body .color-band {
    background-color: #000000;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 30px;
}


footer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.footer-img-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.footer-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    display: block;
}

.footer-content {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    color: #fff;
}

.footer-content p {
    font-size: xx-large;
    margin: 0 0 1em 0;
    color: #fff;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

.footer-content ul li a {
    color: #fff;
    /* text-decoration: underline; */
    font-size: 1.1em;
}