{# {% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}
    <h1>Merci pour votre commande !</h1>
    <p>Votre commande a été validée avec succès.</p>
    <a href="{{ path('produit') }}" style="
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: #black;
        background-color:rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease, transform 0.2s ease;
    ">Retour à la liste des produits</a>
{% endblock %} #}